@import "_constants.scss";


.nickname {
	width: 50%;
	margin: 20px auto; 
	text-align:center;
	#changeNickname {
		display: inline-block;
	}
	#formChange {
		margin-top: 10px;
	}
	#newNickname {
		width: 50%;
		display: inline-block;
	}
	#submit {
		margin-left: 5px;
		display: inline-block;
	}
}


.essay-list {
	margin: 0;
	width: 65%;
	background-color: rgba(white, 0.7);
	border-radius: 5px;
	>h3 {
		padding-top: 5px;
		text-align: center;
	}
	>hr {
		padding: 0;
		margin: 0;
		border-top: 1px solid #E5E5E5;
	}
}
.notice {
	margin:0 0 0 5%;
	width: 30%;
	background-color: rgba(white, 0.7);
	border-radius: 5px;
	>h3 {
		padding-top: 5px;
		text-align: center;
	}
	>hr {
		padding: 0;
		margin: 0;
		border-top: 1px solid #E5E5E5;
	}
	.scroll {
		max-height: 400px;
		overflow: scroll;
	}
	a {
		&:hover {
			text-decoration: none;
		}
		.reply {
			margin-top:10px;
			margin-bottom: 10px;
			padding:20px;
			color: black;
			.userName,
			.essayTitle{
				color: $logoGreen;
				font-weight: bold;
			}
		}
	}
}



.list-col-3 {
	text-align: center;
	width: 100%;
	// padding-top: 30px;
	margin:20px auto;
	h2 {
		color: $logoGreen;
		width: 100%;
		display:inline-block;
	}
	.home-course,
	.home-essay {
		@include grid(3,30%,100%);
		// max-height: 35%;
		background-color: white;	
		border-radius: 6px;
		padding: 0;
		h3 {
			width: 100%;
			text-align: left;
			font-size: 1.7rem;
			font-weight: bold;
			color: $brown;
			letter-spacing: 2px;
			padding-left:20px;
			margin: 20px 0 15px 0;
		}
		hr {
			padding: 0;
			margin: 0;
			border-top: 1px solid #E5E5E5;
		}
		.prof,
		.post-time {
			width: 80%;
			text-align: left;
			font-size: 1.3rem;
			padding-top: 10px;
			padding-left: 20px;
			color: $brown;
		}
		.bottom {
			background-color: $logoGreen;
			width: 100%;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			color: white;
			font-size: 1.3rem;
			margin-top: 60%;
			padding-top:4%;
			padding-bottom:4%;
			p {
				margin:0px 20px;
				text-align:left;
				.post-num,
				.review-num {
					margin-left: 3%;
				}
			}
		}
	}
	.home-essay {
		.essay-type {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			color: white;
			text-align: left;
			padding-left: 20px;
			margin: 0;
			font-size: 1.3rem;
			// font-weight: bold;
			background-color: #e9e9e9;
		}
		.feedback {
			background-color: $essayGreen;
		}
		.ask {
			background-color: $essayOrg;
		}
	}
}


@media (max-width: 1200px) {
	.essay-list,
	.notice {
		width: 100%;
		margin: 0;
		padding-top: 10px;
	}
}

@media (max-width: 960px){
	.list-col-3 {
		.home-course,
		.home-essay {
			@include grid(2,45%,100%);

		}		
	}
}
@media (max-width: 640px){
	.list-col-3 {
		.home-course,
		.home-essay {
			@include grid(1,90%,100%);
		}		
	}
}