<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon" type="image/x-icon" href="images/shortcut_icon.png" />
    <title>Pinquer 評課部落</title>
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css"> -->
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.4.slider.css">    
    <link rel="stylesheet" href="stylesheets/slider-pips.css">
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/profile.css" rel="stylesheet">
<style>
    .error {
        text-align: left;
        font-size: 14px;
        color: #a94442;
    }
</style>
</head>



<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="images/pinquer_logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="" class="page-scroll">瀏覽課程</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <% if(!loggedIn) { %>
                    <li>
                        <a class="page-scroll" href="/login">登入註冊</a>
                    </li>
                    <% } else { %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的帳戶<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">個人頁面</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">登出</a></li>
                        
                      </ul>
                    </li>
                    <% }%>

                </ul>
                <form class="navbar-form navbar-right" role="search" >
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="輸入課名">
                  </div>
                  <button type="/Volumes/Macintosh%20HD/Users/YuChuChen/Downloads/pinquer-gh-pages/login.htmlsubmit" class="btn btn-default">搜尋</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="site-map">
    <a href="/">首頁</a>>
    <a href="">個人頁面</a>
    
</div>

<section class="container">
    <div class="nickname" id="inforight">
        哈囉！你目前的暱稱為：<span id="currentName">100305067</span>
        <button class="btn btn-default" id="changeNickname">更改暱稱</button>
        <div class="form-group" id="nickname-form">
            <form method="post" id="formChange">
                <input type="text" id="newNickname" class="form-control required" name="newNickname" placeholder="輸入新暱稱">
                <button type="submit" id="submit" class="btn btn-primary">確認送出</button>
            </form>
        </div>
    </div>
    <div class="row">
        <section class="essay-list col-lg-9 only-shadow">
            <h3>你曾發表的文章列表</h3>    
            <hr>
            <div class="row list-col-3">
                <a href="essay-feedback.html">
                    <div class="home-essay feedback cardstyle" data-type="feedback">
                        <p class="essay-type feedback">心得</p>
                        <h3>基本上這是一篇反推文</h3>
                        <hr>
                        <p class="post-time">2015/12/15發布</p>
                        <div class="bottom feedback">
                            <p>
                            <span class="course">認識星空</span>
                            <span class="review-num">19則回覆</span> 
                            </p>           
                        </div>        
                    </div>
                </a>
                
                <a href="essay-ask.html">
                    <div class="home-essay ask cardstyle" data-type="ask">
                        <p class="essay-type ask">提問</p>
                        <h3>想請問...?</h3>
                        <hr>
                        <p class="post-time">2015/12/15發布</p>
                        <div class="bottom ask">
                            <p>
                            <span class="course">認識星空</span>
                            <!-- <span class="review-num">19則回覆</span>  -->
                            <span class="review-num">5人也想知道</span> 
                            </p>           
                        </div>        
                    </div>
                </a>
                
                <a href="essay-feedback.html">
                    <div class="home-essay feedback cardstyle" data-type="feedback">
                        <p class="essay-type feedback">心得</p>
                        <h3>基本上這是一篇反推文</h3>
                        <hr>
                        <p class="post-time">2015/12/15發布</p>
                        <div class="bottom feedback">
                            <p>
                            <span class="course">認識星空</span>
                            <span class="review-num">19則回覆</span> 
                            </p>           
                        </div>        
                    </div>
                </a>
        </section>

        <section class="notice col-lg-2 only-shadow">
            <h3>其他用戶回應了你</h3>
            <hr>
            <div class="scroll">
                <a href="">
                    <div class="reply cardstyle ">
                        <span class="userName">"使用者A"</span>
                        在你的文章
                        <span class="essayTitle">"文章標題"</span>
                        中進行回覆
                    </div>             
                </a>
                <a href="">
                    <div class="reply cardstyle">
                        <span class="userName">"使用者A"</span>
                        在你的文章
                        <span class="essayTitle">"文章標題"</span>
                        中進行回覆
                    </div>             
                </a>
                <a href="">
                    <div class="reply cardstyle">
                        <span class="userName">"使用者A"</span>
                        在你的文章
                        <span class="essayTitle">"文章標題"</span>
                        中進行回覆
                    </div>             
                </a>         
                <a href="">
                    <div class="reply cardstyle">
                        <span class="userName">"使用者A"</span>
                        在你的文章
                        <span class="essayTitle">"文章標題"</span>
                        中進行回覆
                    </div>             
                </a>         
                <a href="">
                    <div class="reply cardstyle">
                        <span class="userName">"使用者A"</span>
                        在你的文章
                        <span class="essayTitle">"文章標題"</span>
                        中進行回覆
                    </div>             
                </a>                   
            </div>
                     
        </section>           
    </div>
 
</section>

<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/jquery-ui.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<script type="text/javascript">
    
$(document).ready(function(){
// 暱稱欄位
var changeBtn = $('#changeNickname'),
    inforight = $('#inforight'),
    didAdd = false;

$('#nickname-form').hide();
changeBtn.on('click', function() {
    $('#nickname-form').slideToggle();

    if (didAdd) {
        // inforight.find('input').remove();
        // inforight.find('#submit').remove();
        // inforight.find('#nickname-form').remove();
        changeBtn.text('更改暱稱');
    } else {
        // $('<div>').attr( {class:'form-group', id:'nickname-form'}).appendTo('.nickname');
        // $('<form>').attr( {method: 'post', id: 'formChange'}).appendTo("#nickname-form");
        // $('<input>').attr({ type: 'text', id: 'newNickname', class :'form-control required', name: 'newNickname', placeholder:'輸入新暱稱'}).appendTo('#formChange');
        // $('<button>').attr({ type:'submit', id: 'submit', class:'btn btn-primary'}).text('確認送出').appendTo('#formChange');
        changeBtn.text('取消');
    }
    didAdd = !didAdd;
});

// 判定新暱稱
$("#formChange").validate({
    submitHandler: function(form) {
        form.submit();
    },
    errorPlacement: function(error, element) {
        element.closest('#nickname-form').removeClass('has-success');
        element.closest('#nickname-form').addClass('has-error');
        element.closest('input').after(error);
    },
    success: function(element) {
        element.closest('#nickname-form').removeClass('has-error');
        element.closest('#nickname-form').addClass('has-success');
    },
    rules: {
        newNickname: {
            checkname: true,
            required: true
        }
    }
});  

$.extend($.validator.messages, {
    required: "此欄位必填.",
});

jQuery.validator.addMethod("checkname", function( value, element ) {
    var str = value;
    var result = false;
 
    if(str.length > 0){
        //先測試是否有中文
        var pattCH = /[\u4e00-\u9fa5]{1,}/;
        result1 = pattCH.test(str);
        //先測試是否有英文
        var pattEN = /[a-zA-Z]{1,}/;
        result2 = pattEN.test(str);
        //檢查先生小姐
        testa = str.search("先生");
        testb = str.search("小姐");
 
        //整段內容只接受 (英文或中文)或空白、dash、underline
        var pattSimbo = /^[\u4e00-\u9fa5a-zA-Z\-_\s]{1,}$/;
        result3 = pattSimbo.test(str);
 
        //整段內容是否有空白、dash、underline
        var pattHasSimbo = /[\-_\s]{1,}/;
        result4 = pattHasSimbo.test(str);
 
        if(result1 && result2){
            // console.log('有中文也有英文');
            result = false;
        } else {
            if(result1){
                // console.log('有中文');
                if(str.length >= 3){
                    // console.log('至少兩個字');    
                    if(testa == -1 && testb == -1){
                        // console.log('沒有先生也沒有小姐');
                        if(result3){
                            // console.log('符號 合規則');
                            if(result4){
                                result = false;
                            } else {
                                result = true;
                            }
                        } else {
                            // console.log('符號不合規則');
                            result = false;
                        }
                    } else {
                        // console.log('有先生或小姐');
                        result = false;
                    }
                } else {    
                    result = false;
                }
            } else {
                // console.log('沒有中文');
                result = false;
                if(result2){
                    // console.log('有英文');
                    if(str.length >= 6){
                        if(result3){
                            // console.log('符號 合規則');
                            result = true;
                        } else {
                            // console.log('符號不合規則');
                            result = false;
                        }
                    } else {
                        result = false;
                    }
                } else {
                    // console.log('沒有英文');
                    result = false;
                }
            }
        }
    } else {
        result = true;
    }
    return result;
}, "暱稱可為中文（最少三字）或英文（最少六字），英文請勿使用除了空白、底線、DASH以外的符號");


    //hover effect function
    var homeCourse = $('.home-course'),
        logoGreen = '#209e40',
        brown = '#932009';

    homeCourse.on('mouseenter', function(){
        $(this)
            .children('h3').css('color', logoGreen)
            .end()
            .children('.prof').css('color', logoGreen);
    }).on('mouseleave', function(){
        $(this)
            .children('h3').css('color', brown)
            .end()
            .children('.prof').css('color', brown);
    });


    var homeFeedback = $(".home-essay[data-type='feedback']"),
        homeAsk = $(".home-essay[data-type='ask']"),
        homeNotice = $(".home-essay[data-type='notice']"),
        essayGreen = '#107b5d',
        essayOrg = '#f0542a',
        essayYellow = '#f3ae1e';


        homeFeedback.on('mouseenter', function(){
        $(this)
            .children('h3').css('color', essayGreen)
            .end()
            .children('.post-time').css('color', essayGreen);
    }).on('mouseleave', function(){
        $(this)
            .children('h3').css('color', brown)
            .end()
            .children('.post-time').css('color', brown);
    });
    homeAsk.on('mouseenter', function(){
        $(this)
            .children('h3').css('color', essayOrg)
            .end()
            .children('.post-time').css('color', essayOrg);
    }).on('mouseleave', function(){
        $(this)
            .children('h3').css('color', brown)
            .end()
            .children('.post-time').css('color', brown);
    });
    homeNotice.on('mouseenter', function(){
        $(this)
            .children('h3').css('color', essayYellow)
            .end()
            .children('.post-time').css('color', essayYellow);
    }).on('mouseleave', function(){
        $(this)
            .children('h3').css('color', brown)
            .end()
            .children('.post-time').css('color', brown);
    });

});

</script>

    
<footer id="footerDomain">
    <div class="bottom-info">
    <img src="images/logo_white.png" alt="">
      <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
    </div>
</footer>
</body>

</html>
