<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon" type="image/x-icon" href="images/shortcut_icon.png" />
    <title>Pinquer 評課部落</title>
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css"> -->
    <!-- <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.4.slider.css">     -->
    <!-- <link rel="stylesheet" href="stylesheets/slider-pips.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/search.css" rel="stylesheet">

</head>



<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="images/pinquer_logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="" class="page-scroll">瀏覽課程</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <% if(!loggedIn) { %>
                    <li>
                        <a class="page-scroll" href="/login">登入註冊</a>
                    </li>
                    <% } else { %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的帳戶<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">個人頁面</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">登出</a></li>
                        
                      </ul>
                    </li>
                    <% }%>

                </ul>
                <form class="navbar-form navbar-right" role="search" >
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="輸入課名">
                  </div>
                  <button type="/Volumes/Macintosh%20HD/Users/YuChuChen/Downloads/pinquer-gh-pages/login.htmlsubmit" class="btn btn-default">搜尋</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="site-map">
    <a href="/">首頁</a>>
    <a href="">瀏覽課程</a>
</div>

<section class="container">
<h4>依學系瀏覽</h4>
<button class="btn btn-success" id="literal">文學院</button>
<button class="btn btn-success" id="social">社科院</button>
<button class="btn btn-success" id="business">商學院</button>
<button class="btn btn-success" id="communication">傳播學院</button>
<button class="btn btn-success" id="lan">外語學院</button>
<button class="btn btn-success" id="law">法學院</button>
<button class="btn btn-success" id="science">理學院</button>
<div class="main-filters">
<!-- <div class="filter" data-filter="all">Show All</div>     -->
    <div class="filter department literal" data-title="department" data-value="101">中文系</div>
    <div class="filter department literal" data-title="department" data-value="102">教育系</div>
    <div class="filter department literal" data-title="department" data-value="103">歷史系</div>
    <div class="filter department literal" data-title="department" data-value="104">哲學系</div>
    <div class="filter department social" data-title="department" data-value="202">政治系</div>
    <div class="filter department social" data-title="department" data-value="203">外交系</div>
    <div class="filter department social" data-title="department" data-value="204">社會系</div>
    <div class="filter department social" data-title="department" data-value="205">財政系</div>
    <div class="filter department social" data-title="department" data-value="206">公行系</div>
    <div class="filter department social" data-title="department" data-value="207">地政系</div>
    <div class="filter department social" data-title="department" data-value="208">經濟系</div>
    <div class="filter department social" data-title="department" data-value="209">民族系</div>
    <div class="filter department business" data-title="department" data-value="301">國貿系</div>
    <div class="filter department business" data-title="department" data-value="302">金融系</div>
    <div class="filter department business" data-title="department" data-value="303">會計系</div>
    <div class="filter department business" data-title="department" data-value="304">統計系</div>
    <div class="filter department business" data-title="department" data-value="305">企管系</div>
    <div class="filter department business" data-title="department" data-value="306">資管系</div>
    <div class="filter department business" data-title="department" data-value="307">財管系</div>
    <div class="filter department business" data-title="department" data-value="308">風管系</div>
    <div class="filter department communication" data-title="department" data-value="401">新聞系</div>
    <div class="filter department communication" data-title="department" data-value="402">廣告系</div>
    <div class="filter department communication" data-title="department" data-value="403">廣電系</div>
    <div class="filter department communication" data-title="department" data-value="404">傳播學程</div>
    <div class="filter department communication" data-title="department" data-value="405">傳院不分系</div>
    <div class="filter department lan" data-title="department" data-value="501">英文系</div>
    <div class="filter department lan" data-title="department" data-value="502">阿文系</div>
    <div class="filter department lan" data-title="department" data-value="504">斯語系</div>
    <div class="filter department lan" data-title="department" data-value="506">日文系</div>
    <div class="filter department lan" data-title="department" data-value="507">韓文系</div>
    <div class="filter department lan" data-title="department" data-value="508">土文系</div>
    <div class="filter department lan" data-title="department" data-value="5091">歐文法</div>
    <div class="filter department lan" data-title="department" data-value="5092">歐文德</div>
    <div class="filter department lan" data-title="department" data-value="5093">歐文西</div>
    <div class="filter department law" data-title="department" data-value="601">法律系</div>
    <div class="filter department science" data-title="department" data-value="701">應數系</div>
    <div class="filter department science" data-title="department" data-value="702">心理系</div>
    <div class="filter department science" data-title="department" data-value="703">資科系</div>
</div>
<h4>依通識種類瀏覽</h4>
<div class="sub-filters">
    <div class="filter" data-title="isCore" data-value="TRUE">核心通識</div>    
    <div class="filter" data-title="liberalArt" data-value="自然通識">自然通識</div>
    <div class="filter" data-title="liberalArt" data-value="人文通識">人文通識</div>
    <div class="filter" data-title="liberalArt" data-value="社會通識">社會通識</div>
    <div class="filter" data-title="liberalArt" data-value="中文通識">中文通識</div>
    <div class="filter" data-title="liberalArt" data-value="英文通識">英文通識</div>
    <div class="filter" data-title="liberalArt" data-value="跨領域通識">跨領域通識</div>
    <div class="filter" data-title="liberalArt" data-value="書院通識">書院通識</div>
</div>
<h4>其他類別</h4>
<div class="sub-filters">
    <div class="filter" data-title="note" data-value="軍訓">軍訓</div>
    <div class="filter" data-title="note" data-value="體育">體育</div>
    <div class="filter" data-title="department" data-value="050">服務學習課程</div>
</div>

<form action="" id="filter-form">
<label class="filter" for="mon">星期一</label><input id="mon" type="checkbox" name="星期" value="一">
<label class="filter" for="tue">星期二</label><input id="tue" type="checkbox" name="星期" value="二">
<label class="filter" for="wed">星期三</label><input id="wed" type="checkbox" name="星期" value="三">
<label class="filter" for="thu">星期四</label><input id="thu" type="checkbox" name="星期" value="四">
<label class="filter" for="fri">星期五</label><input id="fri" type="checkbox" name="星期" value="五">

    <input type="text" name="" hidden id="filter-unit" value>
    <input type="text" name="" class="form-control"  id="filter-text" placeholder="這裡可以輸入你想找的課名關鍵字">
    <input type="submit"  value="submit">
</form>




<div class="list-col-4 row" id="Container">
        <a class="home-course" href="/course/認識星空_by_孫維新">
            <div class=" ">
                <h3>中文系的課</h3>
                <hr>
                <p class="prof">孫維新</p>
                <div class="bottom">
                    <p>
                    <span class="open-throu">自然通識</span>
                    <span class="post-num">19則貼文</span> 
                    </p>           
                </div>
            </div>            
        </a>     

</div>

</section>


<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/jquery-ui.min.js"></script>
<!-- <script src="javascripts/jquery.mixitup.min.js"></script> -->
<script src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){

    // Instantiate MixItUp:
    // $('#Container').mixItUp();

    $('.filter.department').hide();
    $('button').on('click', function(){
        var school = $(this).attr("id"),
            department = $('.' + school);
            // console.log(school);
        $('.filter.department').hide();
        department.fadeToggle();
    });

    $('.filter').on('click', function(){
        var filterTitle = $(this).data('title'),
            filterValue = $(this).data('value');

        $('#filter-unit').attr('name', filterTitle);
        $('#filter-unit').attr('value', filterValue);
        console.log($('#filter-unit').attr('name') + ',' + $('#filter-unit').attr('value'));
        // $('#filter-form').submit();
        $('#filter-form').submit( function(e){
            console.log("123");
            e.preventDefault();
        });
    });

    $('input').on('change', function(){
        // $('#filter-form').submit();
    });
});

</script>

    
<footer id="footerDomain">
    <div class="bottom-info">
    <img src="images/logo_white.png" alt="">
      <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
    </div>
</footer>
</body>

</html>
